.upgradeBox {
    border-radius: 8px;
    background-color: #1b1b1f;
    padding: 8px;
    display: flex;
    justify-content: space-between;
    margin: 8px;
}
.upgradeBox:hover {
    cursor: pointer;
}
#upgradeList {
    width: 100%;
}
.no-highlight {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari, Chrome, Opera */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Standard */
}